name: Update RSS feeds

permissions:
  contents: write

on:
  schedule:
    - cron: '00 18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.MSFS_RSS_PAT }}

      - name: Run feed update scripts
        run: |
          uv run src/msfs.py &&
          uv run src/thresholdx.py

      - name: commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add feeds/*.xml
          git commit -m "RSS feed update"
          git push
